apiVersion: v1
kind: Service
metadata:
  name: backstage-service
  namespace: backstage-spotify
  labels:
    app: backstage
spec:
  selector:
    app: backstage
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      name: http
  type: ClusterIP
